<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <nav class="navbar">
        <span class="logo-name">Finance Consulting</span>
        <ul>
          <li><a class="active-link" href="">Acceuil</a></li>
          <li><a href="">Nos expertises</a></li>
          <li><a href="">Actualités</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <header>
        <div class="header-info">
          <h1>
            Cabinet expert <br> comptable
          </h1>
          <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Reprehenderit pariatur, repellat assumenda <br> quod culpa doloremque eaque</p>
          <p class="take-rdv">Prenez rendez-vous</p>
        </div>
      </header>
      <section class="nos-expertises">
        <div class="row">
          <div class="box-expert">
            <div class="expert-left">
              <div class="img-expert">
                <img src="../public/images/expertise.jpg" alt="">
              </div>
              <div class="info">
                <h2>Le cabinet</h2>
                <p class="description">Paragraphe. Cliquez ici pour ajouter votre propre texte. <br> Cliquez sur "Modifier Texte" ou double-cliquez ici <br> pour ajouter votre contenu et personnaliser les polices. <br> Relatez ici votre parcours et présentez votre activité<br> à vos visiteurs. Cliquez ici pour ajouter votre propre texte. </p>
                <p class="savoir-plus">En savoir plus</p>
              </div>
            </div>
            <div class="expert-right">
              <h2>Nos expertises</h2>
            </div>
          </div>
        </div>
      </section>
    </div>
    
  </body>
</html>
